.page-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  user-select: none !important;
  -moz-user-select: none !important;
}
.page-title{
  font-size: 100px;
  align-items: flex-start;
}
.page-subtitle{
  font-size: 24px;
  letter-spacing: 2px;
  font-family: 'Chakra Petch', sans-serif;
  text-align: center;
}


@media only screen and (max-width: 769px){
  .page-title{
    font-size: 40px;
  }
  .page-subtitle{
    font-size: 20px;
  }
}