div.Loading{
  background-color: var(--color-30);
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
}
div.Loading.loading-active{
  opacity: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Loading.loading-active .logo{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 104px;
  width: 100px;
}

.logo .box{
  background-color: var(--color-10);
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.box-1{
  width: 0;
  height: 4px;
  top: 0;
  right: 0;
}
.box-2{
  width: 4px;
  height: 0;
  left: 0;
  top: 4px;
}

.box-3{
  width: 0;
  height: 4px;
  bottom: 0;
  left: 4px;
}

.box-4{
  height: 0;
  width: 4px;
  right: 0;
  bottom: 4px;
}

.box-5{
  width: 0;
  height: 4px;
  right: 4px;
}

@keyframes animation1 {
  0%{
    width: 0;
  }
  100%{
    width: 100px;
  }
}

@keyframes animation2 {
  0%{
    height: 0;
  }
  100%{
    height: 100px;
  }
}

@keyframes animation3 {
  0%{
    width: 0;
  }
  100%{
    width: 96px;
  }
}

@keyframes animation4 {
  0%{
    height: 0;
  }
  100%{
    height: 50px;
  }
}
@keyframes animation5 {
    0%{
      width: 0;
    }
    100%{
      width: 46px;
    }
}

div.Loading.loading-active .logo .box-1{
  animation-name: animation1;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-direction: linear;
  animation-fill-mode: forwards;
}

div.Loading.loading-active .logo .box-2{
  animation-name: animation2;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: linear;
  animation-fill-mode: forwards;
}

div.Loading.loading-active .logo .box-3{
  animation-name: animation3;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  animation-direction: linear;
  animation-fill-mode: forwards;
}

div.Loading.loading-active .logo .box-4{
  animation-name: animation4;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-direction: linear;
  animation-fill-mode: forwards;
}

div.Loading.loading-active .logo .box-5{
  animation-name: animation5;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-delay: 2.5s;
  animation-iteration-count: 1;
  animation-direction: linear;
  animation-fill-mode: forwards;
}